.listening-now {

}

.navigation {
  display: flex;
  align-items: center;
  align-content: center;

  a {
    margin-right: 2rem;
    color: rgb(77, 174, 255);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
